<section id="contact">
  <h2>Contact Us</h2>
  <address>
    Email us at: <br><a href="mailto:submersiveHotels@gmail.com">submersiveHotels@gmail.com</a><br>
    Give us a call: <br><a href="tel:+40248123123">+40728123123</a><br>
    Or come directly to us: <br>
    <span>Prime Street, 144 <br>
    Constanta, Romania</span> <br>
    <small>&copy; Submersive Beach Resort</small>
  </address>
</section>
<section id="iframe">
<h2>Check a video down below:</h2>
<iframe src="https://www.youtube.com/embed/wsq-r8lMMsk" name="iframe_x" title="Resort" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<div id="wrapper">
  <a href="https://www.youtube.com/embed/Y8aqakNL8No" target="iframe_x">Guided Tour</a>
  <a href="https://www.youtube.com/embed/wsq-r8lMMsk" target="iframe_x">Look Around</a>
</div>
</section>
<section id="working">
  <h2>Working Hours</h2>
  <ul>
    <li>Monday: 7:00am-23:00pm (GMT+2)</li>
    <li>Tuesday: 7:00am-23:00pm (GMT+2)</li>
    <li>Wednesday: 7:00am-23:00pm (GMT+2)</li>
    <li>Thursday: 7:00am-23:00pm (GMT+2)</li>
    <li>Friday: 7:00am-23:00pm (GMT+2)</li>
    <li>Saturday: 7:00am-20:00pm (GMT+2)</li>
    <li>Sunday: 7:00am-20:00pm (GMT+2)</li>
  </ul>
</section>
