<input type="checkbox" class ="toggle">
<div class ="hamburger"><div></div></div>
<nav>
  <ul class = "menu">
    <li class = "nav-link"><a href="/index" class ="link"><span>Home</span><i class="fas fa-home" title="Edit"></i></a>
      <ul class = "submenu">
        <li class = "nav-sublink"><a href="../Views/Pages/whoarewe" class ="sublink">Who are we?</a></li>
        <li class = "nav-sublink"><a href="#" class ="sublink">Services</a></li>
        <li class = "nav-sublink"><a href="../Views/Pages/Foods" class ="sublink">Restaurant's Menu</a></li>
      </ul>
    </li>
    <li class = "nav-link"><a href="#" class ="link">Login</a></li>
    <li class = "nav-link"><a href="#" class ="link">Services</a></li>
    <li class = "nav-link"><a href="#" class ="link">Offers & Prices</a></li>
    <li class = "nav-link"><a href="#" class ="link">FAQ</a></li>
  </ul>
</nav>
