<head>
  <%- include('../partial/head') %>
  <title>Eroare 403</title>
  <style>
    .eroare {
      position: relative;
      margin-top: 40vh;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      length: 50%;
      text-align: center;
    }

    h1, .eroare h2, .eroare p {
      color: #dff9fb;
    }
  </style>
</head>
<body>
<header>
  <%- include('../partial/header') %>
  <h1>Eroare 403</h1>
</header>
<main>
  <section class = "eroare">
    <h2>Eroare 403</h2>
    <p>Pagina nu exista</p>
  </section>
</main>
<footer id="findus">
  <%- include('../partial/footer') %>
</footer>
</body>
